/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans design */
body {
    background: #666666;
}
div.bigbox {
    width: 1100px;
    background: #217d94;
    margin: 50px auto;
    padding: 50px;
    border: ridge 10px #1aa7ca;
    border-radius: 7px;

}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    color: #e0ff4f;
    text-shadow: 4px 4px 5px #ffffff;
}

/* Inläggens design */
div.smollbox {
    width: 900px;
    background: #22c277;
    margin: 50px auto;
    padding: 100px;
    border: ridge 10px #3ef52e;
    border-radius: 7px;
    box-shadow: 0px 0px 10px #ffffff ;
}
img {
    margin: auto;
}
h2 {
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
    font-size: 30px;
    color: #4a5240;
    text-shadow: 4px 4px 5px #ffffff;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #373d37;
}